.signup-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 560px;
  width: 30vw;
  border: 2px solid black;
}
.signup-logo > img {
  height: 120px;
  width: 240px;
  padding-top: 10px;
  margin: 10px;
}
.signup-form {
  flex: 1;
  padding-top: 20px;
}
.signup-form label {
  display: block;
  margin: 5px;
}

.signup-form input[type="text"],
.signup-form input[type="password"] {
  padding: 12px;
  width: 100%;
  height: 30px;
  margin: 5px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
}
.button-check {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  justify-content: space-between;
}

.button-check input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  position: relative;
}
.signup-form input[type="button"] {
  background-color: white;
  width: 100%;
  margin-left: 0px;
  padding: 10px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}
.signup-form input[type="button"]:hover {
  background-color: #15a2fa;
  color: white;
}
